// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.intro {
  font-size: 2.5em;
}
.des{
  font-size: 1.3em;
}

ul
{
  list-style-type: none;
}

.title{
  font-size: 2.5em;
}


.content{
  font-size:1.5em;
}

.box{
  margin-top: 20px;
  text-align: center;
}

.like{
  font-size:.5em;
}

.loves{
  display: none;
}

#post_content{
  margin: 0px -10px 0px 0px;
}

h1.header{
}

h4.post_show{
  padding-top:15px;
  line-height: 140%;
}

@media (max-height: 350px){
  #post_content{
    z-index: 9999;
    position: fixed;
    top:350px;
    left: 0px;
    margin: 0px -10px 0px 0px;

  }
}