<!DOCTYPE html>
<html>
<head>
  <title>Phildate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

</head>
<body>
<!-- Fixed navbar -->

<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../"><b>PHIL</b><i>DATE</i><3</a>

      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->





          <% if user_signed_in? %>
            <li id="who">
              <%= link_to "요셉&성수", loves_index_path, :class=>"wholovesyou"%>
            </li>
            <li id="love">
              <button type="button" class="btn btn-default-1">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              </button>
            </li>
            <li id="you">
              <%= link_to "YOU", root_path, :class=>"helloworld"%>
            </li>
            <!--<li><%= link_to "로그아웃 :)", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?" }%> </li>-->
          <% else %>
            <li><%= link_to " 페이스북으로 로그인 :)", user_omniauth_authorize_path(:facebook)%> </li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>

    <div class="container">
      <div class="text-center loves">
        <ul>
          this is other words
        </ul>

      </div>
      <%= yield %>

    </div> <!-- /container -->
</body>
</html>

<script>

  function animateHeart(){
    $('.wholovesyou').css({paddingleft:0
    });
    $('.wholovesyou').animate({paddingRight:'20px'},5000,function(){
      animateHeart();
    })
  }
  var originname="요셉&성수";
  $(".btn-default-1").click(function(){
    $(location).attr("href", "../loves/index");
  });

  function getData(){
    $.ajax({
      url: "/loves/read",
      dataType: "json",
      data: {
        prezzario: "enjoy"
      },
      success: function (data) {
        animateHeart();
        return $('.wholovesyou').text(data.user.name)

        }

      });
    }

  getData()
  var myVar = setInterval(getData, 10000);


</script>